    <header id="header">
      <div id="wordmark"><a href="/">Michael Champlin</a></div>
      
      <!-- Top Navigation -->
      <nav id="top-navigation">
        <div id="menu-toggle">
          <input type="checkbox" id="hamburger" />
          <label id="stack" for="hamburger">&#9776;</label>
          {% assign navPages = collections.all | eleventyNavigation %}
          <ul id="top-navigation-list">
          {%- for entry in navPages %}
            <li
            {% if entry.url == page.url %} class="nav-item-active"
            {% elsif entry.url contains 'journal' and page.url contains 'journal' %} class="nav-item-active"
            {% endif %}
            >
              <a href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
          {%- endfor %}
          </ul>
        </div>
      </nav>

    </header>

