---
title: My default title
---
<!DOCTYPE html>
<html lang="en">
{% include '_head' %}
<body>
  <main id="moo" class="full-width {{ slug | downcase }}">
    {% include '_header' %}
    {{ content }}
    {% include '_footer' %}
  </main>
</body>
</html>
