---
title: My default title
---
<!DOCTYPE html>
<html lang="en">
<head>
{% include '_meta' %}
</head>
<body>
  <main id="moo" class="full-width {{ slug | downcase }}">
    {% include '_header' %}
    {{ content }}
    {% include '_footer' %}
  </main>
</body>
<script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.js"></script>
</html>
