---
title: My default title
tags: 
  - presentation
  - cats 
---
<!DOCTYPE html>
<head>
{% include '_meta' %}
</head>
<body>
  <main class="full-width {{ title }}">
    {{ content }}
  </main>
  <footer>      
    <small>{{ site.author }} &copy; {{ site.copyrightYear }}</small>
  </footer>
</body>
</html>