---
layout: base
---

<div class="grid-wide grid-subgrid grid-tight post {{ "clipping" if clipping }}">
  <div class="grid-item-4 grid-offset-3">  
    <div class="back">
      {% if '/journal' in page.url %}
        <a href="/journal">
          <ion-icon name="arrow-back-outline"></ion-icon> back to journal
        </a>
      {% elif '/storytelling' in page.url %}
        <a href="/storytelling">
          <ion-icon name="arrow-back-outline"></ion-icon> back to storytelling
        </a>
      {% else %}
      {% endif %}
    </div>

    <h1>{{ title }}</h1>
    <div class="meta">
      <time datetime="{{ page.date | shortDate }}">Published {{ page.date | postDate }}</time>{% if original.title %}<span class="original"> &mdash; originally posted <time datetime="{{ original.date | shortDate }}">{{ original.date | postDate }}</time> on <a href="{{ original.url }}">{{ original.title }}</a></span>{% endif %}
    </div>
  </div>
  {{ content | safe }}
  <div id="feed" class="grid-item-4">
    <p>
      Subscribe to future journal updates:
    </p>
		<a href="https://champl.in/feed.xml" class="button small"><ion-icon name="logo-rss"></ion-icon>Subscribe via RSS</a>
		<a href="https://airtable.com/apptXUntEV0IM2cGp/pagzlvBTKhYdTTVGn/form" class="button small"><ion-icon name="mail-outline"></ion-icon>Subscribe via email</a>

	</div>
</div>