// Imports
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap')

// Let's set some variables
// -- colors
$white: #ffffff
$offwhite: #f5f5f5
$black: #111111
$red: #AA4B39
$green: #84b082
$gray: #888

// -- fonts
$sans: "Source Sans 3", sans-serif
$serif: "Source Serif 4", serif

// Resets
*
	box-sizing: border-box
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	font-kerning: auto

html
	-webkit-text-size-adjust: 100%

body
	margin: 0

p:empty 
	display: none

// Global styles
// -- typography

h1
	font-size: 2.25rem
	font-weight: 300
	margin: 0 0 1em
h2
	font-size: 1.5rem
	font-weight: 300
	margin: 0 0 .5em

p
	padding: 0
	margin: 0 0 1rem
	font-size: 1rem

small
	font-size: .8rem

a
	transition: color 300ms
	color: inherit
	&:hover 
		color: $red

body
	font-family: "Source Serif 4", serif
	font-optical-sizing: auto
	font-weight: 400
	font-style: normal

.pre 
	font-family: monospace
	background-color: #eee
	display: inline

.centered
	text-align: center

.big-p
	font-weight: 300
	font-size: 2.25rem
	line-height: 1.16em

// -- colors
body
	background-color: $white

// -- elements
img
	max-width: 100%

main
	margin: 0 auto
	padding: 2rem 2rem 1rem
	@media only screen and (min-width: 1200px)
		padding: 8rem 2rem 1rem

#intro
	font-family: $serif
	margin-top: 4rem
	p
		font-weight: 300
		font-size: 2.25rem
		line-height: 1.16em

// -- headers & nav

#header		
	a
		text-decoration: none
		color: inherit
	a:hover
		color: $red


#header
	font-family: $sans
	text-transform: uppercase 
	letter-spacing: .08em
	grid-column: 1 / -1
	display: grid
	gap: 1rem 0
	margin: 3rem 0
	overflow: hidden
	@media only screen and (min-width: 1200px)
		grid-template-columns: repeat(2, 1fr)
		margin: 0

#wordmark
	display: inline
	font-size: 1.25rem
	grid-column-end: span 1
	place-content: center
	text-align: center
	@media only screen and (min-width: 1200px)
		text-align: left

#top-navigation
	max-height: 100vh
	font-weight: 500

	@media only screen and (min-width: 1200px)
		grid-column-end: span 1
		place-content: center

#menu-toggle
	width: 100%
	text-align: center

#hamburger 
	display: none

#top-navigation label
	display: inline-block
	transition-duration: 0.5s
	transition: transform .4s ease-in-out, color .4s ease-in-out
	font-size: 1.2rem
	@media only screen and (min-width: 1200px)
		display: none

#top-navigation-list
	margin: 0
	padding: 0
	transition: max-height .4s ease-in
	list-style-type: none
	@media only screen and (min-width: 1200px)
		float: right
	li 
		display: inline-block
		width: 100%
		margin: .5rem 0
		@media only screen and (min-width: 1200px)
			margin: 0 0 0 1.5em
			width: auto	
	li:first-child
		margin: 1.5rem 0 .5rem 0
		@media only screen and (min-width: 1200px)
			margin: inherit	
	li.nav-item-active
			font-weight: 600

	// Mobile-specific menu styles
@media only screen and (max-width: 1199px)
	#top-navigation-list
		max-height: 0px
	#top-navigation
		input:checked ~ #top-navigation-list
			max-height: 100vh
		input[type=checkbox]:checked + label  
			color: $red
			transform: rotate(90deg)

// -- footers
footer 
	width: 100%
	margin-bottom: 1rem
	display: grid
	grid-template-columns: repeat(2, 1fr)
	gap: 32px
	border-top: 1px solid
	padding: 5rem 0
	margin: 10rem 0 0
	a
		color: $black
		text-decoration: none
		&:hover
			color: $green
			text-decoration: underline
	.grid-wide
		text-align: center

.footer-list 
	list-style-type: none
	margin: 0
	padding: 0

.footer-list-item
	line-height: 1.5em

.copyright
	text-align: center

// -- utilities
.rule
	height: 1px
	border-bottom: 1px solid $black

// -- page-specific
.home
	p
		display: block
		font-size: 1.125rem
		width: 100%
		max-width: 800px
		line-height: 1.6em
		margin-top: 2rem

.portfolio-card
	p
		font-size: 1rem
		margin: 1rem 0 0
		line-height: 1.5em

.case-study-meta
	line-height: 1.875rem

.case-study-p
	font-size: 1.5rem
	line-height: 1.5em

.case-study-tag
	display: inline-block
	padding: 1px .5rem
	margin: 0 4px
	border-radius: 4px
	background-color: $offwhite
	transition: background-color .2s // needed?
	// changing the tag bg color based on the tag
	&.ux
		background-color: #FEF0F0
	&.research
		background-color: #FAF0FF
	&.presentation
		background-color: #E0EEF8
	a
		text-decoration: none
		color: inherit


// Grid 

// -- primary grid [reusable as subgrid]
.full-width
	width: 100%
	max-width: 1120px
	min-height: 80vh
	display: grid
	grid-template-columns: 1fr 1fr 1fr 1fr
	@media only screen and (min-width: 1200px)
		display: grid
		grid-template-columns: repeat(8, 1fr)
		align-content: start
		gap: 7.5rem 32px
		grid-auto-flow: row
	&.home
		@media only screen and (min-width: 1200px)
			gap: 0 32px
			// Removes the CSS Grid gap on home for more granular control

// -- widths
.grid-item-3
	grid-column-end: span 3

.grid-item-4, .grid-item-5
	grid-column-end: span 4

.grid-item-5
	@media only screen and (min-width: 1200px)
		grid-column-end: span 5

.grid-wide
	grid-column: 1 / -1

// -- indents
@media only screen and (min-width: 1200px)
	.grid-offset-1
		grid-column-start: 1
	.grid-offset-2
		grid-column-start: 2
	.grid-offset-3
		grid-column-start: 3

// -- spacers
.grid-spacer-1
	grid-column-end: span 1

// -- rows
.grid-gutter-slug
	margin: 5rem 0

// -- alignments
.grid-align-bottom
	align-self: end
.grid-align-middle
	align-self: center

.grid-subgrid
	display: grid
	grid-template-columns: subgrid
	row-gap: 4rem
	@media only screen and (min-width: 1200px)
		display: grid
		row-gap: 6.5rem

// Staging

.notags
	font-style: italic

.archive-list-item
	margin: 0 0 1rem
	list-style-type: none

.slug 
	background-color: #eee
	@media only screen and (min-width: 1200px)
		padding: 5rem
	img 
		filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, .14))
