---
layout: base
title: /journal
description: thoughts, photographs, clippings, etc.
slug: journal
thumbnail: /_assets/img/journal/share-preview.jpg
eleventyExcludeFromCollections: ["posts"]
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
eleventyNavigation:
  key: Journal
  order: 4
permalink: "journal/{% if pagination.pageNumber > 0 %}journal-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---


<div class="grid-wide">
    <h1>{{ title }}</h1>
    <p class="subheading">thoughts, photographs, clippings, etc.</p>
    <div class="rule"></div>
</div>

<section class="grid-item-6 grid-offset-2 grid-subgrid">
	{% for post in posts %}
			{% if post.data.clipping == true %} {# post format for clippings #}
				<article class="entry grid-item-4 clipping">
		    		<time datetime="{{ post.date | shortDate }}">
		    			<a href="{{ post.url }}">{{ post.date | postDate }}</a>
		    		</time>
		    	<p>
		    		{{ post.content |safe  }}
		    	</p>
				</article>
			{% else %} {# post format for everything else #}
		    <article class="entry grid-item-4">
		    	{% if post.data.thumbnail %}
		    		<a href="{{ post.url }}">
		    			<img src="{{ post.data.thumbnail }}" alt="{% if post.data.alttext %}{{ post.data.alttext }}{% else %}{{ post.data.description }}{% endif %}" class="post-thumbnail" sizes="544px" />
		    		</a>
		    	{% endif %}
		    	{% if post.data.title %}
			    	<h2>
			    		<a href="{{ post.url }}" class="postlist-link">{{ post.data.title }}</a>
			    	</h2>
		    	{% endif %}
		    	<p>
		    		<time datetime="{{ post.date | shortDate }}">{{ post.date | postDate }}</time>
		    		{% if post.data.description %}
		    			&mdash;
		    			{{ post.data.description }}
		    		{% endif %}
		    	</p>
		    </article>
	    {% endif %}
	    <div class="grid-item-3 rule"></div>
	{% endfor %}
	<div id="feed" class="grid-wide">
		<a href="https://champl.in/feed.xml" class="button small"><ion-icon name="logo-rss"></ion-icon>Subscribe via RSS</a>
	</div>
</section>
{% include '_pagination.njk' %}
